<div class="row comments">
  <div id="comments" class="small-12 column">
    <%= content %>

    <% cache cache_key do %>
      <% if current_user %>
        <%= render Comments::FormComponent.new(record, valuation: valuation) %>
      <% else %>
        <div data-alert class="callout primary">
          Você precisa 
          <%= link_to t("devise_views.menu.login_items.login"),
                      user_keycloak_openid_omniauth_authorize_path, rel: "nofollow", method: :post %>
          para fazer um comentário.
        </div>
      <% end %>

      <%= render Shared::OrderLinksComponent.new("comments", anchor: "comments") %>
      <%= render "comments/comment_list", comments: comment_tree.root_comments, valuation: valuation %>
      <%= paginate comment_tree.root_comments, params: { anchor: "comments" } %>
    <% end %>
  </div>
</div>
